<%= render 'shared/page_title', title: "Reset Your Password" %>
    <%= render 'shared/errors', obj: password_user %>
        <div class="row">
	        <div class="well col-xs- col-lg-8 col-lg-offset-2 col-xs-offset-2 center">
		        <%= form_for password_user do |f| %>
		        <h5 class="bold left line_Up">Password:</h5>
		        <%= f.password_field :password%>
	
		        <%= f.submit(password_user.new_record? ? "Register" : "Change Password", class: "btn btn-success") %>
		        <% end %>
        	</div>
        </div>
