<%= render 'shared/page_title', title: "All Vendors" %>
<p><%= link_to new_vendor_path do %>
    <i class="btn btn-lg btn-success floatright" >Add Vendor</i>
    <% end %>
</p>

<div class="table-container col-lg-6 col-lg-offset-3 col-xs-12">
	<table class="data-table">
		<thead>
			<tr>
				<th>Vendor</th>
				<th>Description</th>
				<th>Edit</th>
			</tr>
		</thead>
		<% @vendors.each do |vendor| %>

		<tbody>
			<tr>
				<td><%= vendor.vendor_name %></td>
				<td><%= vendor.description %></td>
                <td><%= link_to vendor_path(vendor) do %>
                        <i class="glyphicon glyphicon-info-sign" style="color:#377bb5"></i>
                    <% end %>     
                    <%= link_to edit_vendor_path(vendor) do %>
                        <i class="glyphicon glyphicon-cog" style="color:grey"></i> </td>
                    <% end %></td>
			</tr>		
		</tbody>
		<% end %>
	</table>
	    

      
      <div class="row">
                <div class= "col-lg-3 col-lg-offset-4 right">
                <%= will_paginate %>
                </div>
       </div>
</div>
